<html>
    <head>
            <script src="../../server.js"></script>
        <title>
            Velo 2000 Onet
        </title>
    </head>

    <body>
        <h1>Velo 2000 Onet</h1>
        <p>Page principale du site !</p> <br />
        <p><%= b %></p>

        <script>
            while(true) {
                ajouterPilote();
            }
        </script>
          
          <input type="button" value="ADD" id="MyButton" >
    </body>

</html>